body{
  font-family: 'Varela Round', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  margin: auto;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:rgb(0, 0,0 ,0.5);
  
}

/* btn hover*/
.hover-opacity{ 
  transition:opacity .1s;
}
.hover-opacity:hover{
opacity: 0.5;
}
.pd-y{
  padding: 120px 0;
}
/* div container title and line*/
.section_header{
  text-align: center;
  margin-bottom: 20px;
}
/*title*/
.section_header .sectin-title{
font-size: 35px;
text-transform: capitalize;
margin-bottom: 10px;
}
/* .line*/
.section_header .line{
  width: 65px;
  height: 4px;
  display: block;
  margin: auto;
  background-color:#e09145;
  margin: 0px auto 70px auto
}

/* header */
.header{
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%; 
  background-color:rgb(0, 0,0 ,0.100);

}
.header-content{
  overflow: hidden;
}
.header .logo{
  width: 30%;
  float: left;
}
.header .logo img{
  width:100px;
  height: 50px;
}
.header .nav{    /*ul*/
  width: 70%;
  float:left;
  list-style: none;
  text-align: right;

}
.header .nav li {
  display: inline-block;
  text-align: right;
}
.header .nav li a {
  text-decoration: none;
  padding: 20px 15px;
  display: block;
  text-transform: capitalize;
  font-size: 15px;
  color:#f9f9f9;
}
.header .nav li a.active::after,
.header .nav li a::after{
  content: "";
  display: block;
  height: 3px;
  background-color:#e09145;
  margin-top: 2px;
}
.header .nav li a.active::after{
  width:100% ;
}
.header .nav li a::after{
  width:0px ;
  transition: .5s;
}
.header .nav li a:hover::after{
  width: 100%;
}
.header .nav li a:hover{
  color: #e09145;
}
.blog-post::before{
  content: "blog post";
  position: absolute;
  top:80%;
  right: 14%;
  background-color: #e09145;
  width: 70px;
  height: 3px;
  padding: 20px;
  text-align: center;
  border-radius:7px ;
  opacity: 0;
  visibility: hidden;
  color: #f4f4f8;
  transition: .5s;
}
.blog-post:hover::before{
  visibility: visible;
  opacity: 1;
}
/* /////////////////////////////////////////////////// */
/*  Home section */
.home{
  height: 100vh;
  background-image: url(../imges/pexhome.jpg);
  background-size:cover;
  position: relative;
}
.home-content{
  width: 65%;
  position: absolute; /* توسيط العناصر*/
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.home .title{
  color:#fff;
  font-size: 3.3rem;
  text-transform: uppercase;
}
.home-creative:hover{
  color: #fdbf50;
  transition: .5s;
}
.home-description{
  color: #fff;
  margin: 20px 0 ;
  letter-spacing: 2px;
}
.home .btn{
  width:160px ;
  border-radius:5px ;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: capitalize;
  font-family: inherit;
}
.home .btn-start{
  margin-right: 10px;
  background-color: #fff;
}
.home .btn-learn{
  background-color:#e09145 ;
}
.about-content{
  overflow: auto;
}
.about-item{
  width: 30%;
  float: left;
  text-align: center;
  border: .8px solid #c29880;
  padding: 50px 20px;
  position: relative;

}
.about-item.mg{
  margin: 0 5%;
}
.about-item .icon{
  color: #e09145;
  margin-bottom: 15px;
}
.about-item-title{
  text-transform: capitalize;
  margin-bottom: 10px;
  transition: .5s;
}
.about-item-desc{
  margin-bottom: 10px;
  text-transform: capitalize;
}
.about-item-link{
  color: #e09145;
  display: block;
  margin-top: 6px;
}
.about-item::after{
  content:"";
  position: absolute;
  width: 0;
  top:0;
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: #333;
  transition: width 0.5s;
  z-index: -1;

}
.about-item:hover::after {
  width:100%;
  height: 100%;
}
.about-item:hover .about-item-title{
  color: #fff;
}
.about-item-desc{
  color: #999;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */
.portfolio{
  background-color: #f9f9f9;
}
.portfolio-content{
  overflow: auto;
}
.portfolio-item{
  width: 32%;
  float: left;
  margin-bottom:30px;
  position: relative;
  padding: 20PX;
}
.portfolio-item img{
  width: 100%;
}
.portfolio-item.mg{
  margin: 0 2%;
}
.portfolio-item .layer-content{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(0, 0,0 ,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s;
}
.portfolio-item:hover .layer-content{
  opacity: 1;
  visibility: visible;
}
.layer-content .layer-info{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.layer-content .ctegory{
  color: #e09145;
  text-transform: uppercase;
  display: block;
  margin-bottom:10px ;
  position: relative;/* عشان الحركه بتاعة الهافر  .. بتديله..بيتحرك بالنسبة لنفسه*/
  top:10px;
  transition: top .5s;
  transition-delay: .2s;
}
.layer-content-title{
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  top:10px;
  transition: top .5s;
  transition-delay: .3s;
}
.layer-content a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #fff;
  position: relative;
  top:10px;
  transition: top .5s;
  transition-delay: .3s;
}
.layer-content a i{
  line-height: 35px;
}
.layer-content:hover.layer-content a,
.layer-content:hover.layer-content .ctegory,
.layer-content:hover .layer-content-title{
  top: 0;
}
/* services section */
/* //////////////////////////////////////// */
.offer-conten{
  overflow: auto;
}
.offer-item{
  float: left;
  width: 30%; 
  margin-bottom: 20px; 
  border: .8px solid #c29880;
  padding: 20px 15px 30px 70px;
  position: relative;
}
.offer-item.mg{
  margin: 0 5%;
}
.offer-item .icon{
  position: absolute;
  left: 15px;
  top:32px;
  color:#c29880;
}
.offer-item-title{  
  text-transform: capitalize;
  margin-bottom: 10px;
  transition: color .3s;

}
.ofer-item-desc{
  text-transform: capitalize;
  margin-bottom: 15px;
  left: 1.6;
  color: #999;
}
.offer-item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #333;
  z-index: -2;
  transition: .5S;
}
.offer-item:hover::after{
  width: 100%;
  height: 100%;
}
.offer-item:hover .offer-item-title{
  color: #f9f9f9;
}
/* service sectoiin */
.service{
  background-color:#f9f9f9;
}
.service-item-parent{
  overflow: auto;
}
.service-item{
  float: left;
  width: 50%;
}
.service-item .section_header{
  text-align: left;
}
.service-item .section_header .line{
  margin: 0 0 70px 0; 
}
.service-item-desc{
  padding-right: 20px;
  line-height: 1.4;
  font-size: 17px;
  margin-bottom: 20px;
  color: #999;
}
.service-list i{
  color: #e09145;
  border: 1px solid #c29880;
  padding:5px;
  border-radius: 50%;
  margin: 17px 5px ;
  width: 25px;
  height: 25px;
}
.service-list li{
color: #999;
}
.service-item-img{
  margin: auto;

}
.service-item-img img{
  width: 80%;
  padding: 50px;
}


.service-bollets li{
display: inline-block;
width: 10px;
height: 10px;
border-radius: 50%;
background-color:  #999;
transition: .5s;
}
.service-bollets{
  margin-left: 230px;
  margin-top:-30px;
}
.service-bollets li.active{
  background-color: #e09145;
}
.service-bollets li:hover{
  background-color: #e09145;
}
/* ////////////////////////////////////////// ////////////////////////////////////////////////////////////////*/
.numbers{
  position: relative;
  background-image: url(../imges/futuristic-smart-city-with-5g-global-network-technology.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-position: top;
  height: 300px;
}
.numbers-item{
  overflow: hidden;
}
.number-item{
  width: 25%;
  float: left;
  text-align: center;
}
.number-item .icon{
color: #e09145;
margin-bottom: 15px;
}
.number-item-title{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
  color: #fff;
}
.number-item-text{
  color: #fff;
  text-transform: capitalize;
}
/* /////////////////////////////////////////////////////////////////// */

.pricing-plans{
  overflow: hidden;
}
.pricing-item{
  width: 30%;
  float: left;
  border: 1px solid #c29880;
  text-align: center;
  padding: 40px 15px;
  position: relative;
}
.pricing-item.mg{
  margin: 0 5%;
}
.pricing-item-text{
  text-transform: uppercase;
  color: #999;
  font-size: 17px;
}
.pricing-item-permonth{
  width: 86px;
  height: 86px;
  padding-bottom: 1px;
  border-radius: 50%;
  border:2px solid #fdbf50;
  margin: 11px auto ;
}
.pricing-item .doller{
  font: normal bold 39px sans-serif;
  color: #181818;
  margin: 15px auto auto;
}
.pricing-item .month{
text-transform: uppercase;
  font:normal 900 11px sans-serif;
  color: #391f1e;
}
.pricing-list{
  list-style: none;

}
.pricing-list li{
  color:#999;
  line-height: 1.8;
}
.pricing-item-purshase{
  background: none;
  border: 0;
  background-color: #ff724c;
  display: block;
  width: 140px;
  padding: 10px;
  margin: 15px auto 0;
  transition: .5s;
}
.pricing-item::after{
  content:"";
  position: absolute;
  width: 0;
  top:0;
  left: 0; 
  bottom: 0;
  background-color:#2a2c41;
  transition: width 0.5s;
  z-index: -1;
}
.pricing-item:hover::after{
  width:50%;
}
.pricing-item::before{
  content: "";
  position: absolute;
  width: 0;
  top:0;
  right: 0;
  background-color:#2a2c41;
  z-index: -1;
  transition: .5s;
  bottom: 0;
}
.pricing-item:hover::before{
  width:50%;
}
.pricing-item:hover .pricing-item-purshase {
  background: none;
  border-bottom: 1px solid #fdbf50;
  border-top:1px solid #fdbf50;
  color: #ff724c;
}
.pricing-item:hover .doller{
  color:#ff724c;
}
.pricing-item:hover .month{
  color:#ff724c;
}
.pricing-item:hover .pricing-item-text{
  color: #f4f4f8;
}
.pricing-item:hover .pricing-list li{
  color: #f4f4f8;
}

/* ///////////////////////////////////////////////////// /////////////////////////////////////////*/
/* testimonail */
.testimonail{
  position: relative;
  background-image: url(../imges/background2.webp);
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}
.testimonail-content{
  padding: 120px 0;
  overflow: auto;
  width: 80%;
  margin: auto;
}
.testimonail-item{
  width:50%;
  float: left;
  color: #fff;
}
.testmonail-toplayer{
  padding: 10px 10px 20px 100px;
  position: relative;
}
.testmonail-toplayer img  {
  position: absolute;
  left:10px;
  top: 3px;
  border-radius: 50%;
}
.testmonail-toplayer h3{
  margin:5px 0;
}
.testmonail-toplayer span{
  color: #e09145;
}
.testimonail-desc{
line-height: 1.5;
font-size: 17px;
}
/* ///////////////////////////// ///////////////////////////////////////////////////////////////*/
/* team */
.team{
  position: relative;
}
.team-content{
  overflow: auto;
  width: 98%;
}
.team-item{
  width: 30%;
  float: left;
  background: #e8e8e8;
  text-align: center;
  padding: 40px 20px;
  position: relative;
}
.team-item.mg{
  margin: 0 5%;
}
.team-item .team-img{
  width: 90%;
  margin: auto;
  position: relative;
}
.team-img img{
  width: 100%;
}
.team-info-name{
  color: #222;
  margin: 10px 0;
  text-transform: uppercase;
}
.team-info-desc{ 
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
}
.team-over-lay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(0, 0, 0,.5);
  opacity: 0;
  visibility: hidden;
}
.team-over-lay a{
  display: block;
  width: 40px;
  height: 40px;
  background-color: #e09145;
  color: #f9f9f9;
  margin-left:auto ;
}
.team-over-lay a i{
  line-height: 40px;
}
.team-item:hover .team-over-lay{
  visibility: visible;
  opacity: 1;
}
.team-item::after{
  content: "";
  position: absolute;
  top:0;
  width:50%;
  right:0;
  height: 0;
  background-color:rgb(0, 0,0 ,0.2);
  z-index: 1;
  transition: height 01s;
}
.team-item:hover::after{
  height: 100%;
}
.team-item::before{
  content: "";
  position: absolute;
  bottom:0;
  width: 50%;
  right:50%;
  height: 0;
  background-color:rgb(0, 0,0 ,0.3);
  z-index: 1;
  transition: height 01s;
}
.team-item:hover::before{
  height: 100%;
}
.positon-img-right{
  position: absolute;
  right: 5%;
  top:2%;
}
.positon-img-left{
  position: absolute;
  left: 5%;
  top:2%; 
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/*  blog- news */
.blog{
  background-color: #f9f9f9;
}
.blog-content{
  overflow: auto;
}
.blog-item{
  float: left;
  width: 30%;
  background-color:#fff;
  position: relative;
}
.blog-item.mg{
  margin-left:  5%;
  margin-right: 5%;
}

.blog-item-img img{
  width: 100%;
}
.blog-list{
  list-style: none;
  margin: 10px 0;
}
.blog-list li{
  display: inline-block;
  margin: 0 7px;
  text-transform: capitalize;
}
.blog-list li i{
  color: #e09145;
}
.blog-item-title{
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0 0 0 15px;
}
.blog-item-desc{
  line-height: 1.6;
  color:#999;
  margin-bottom: 10px;
  padding: 0 0 0 15px;
}
.blog-item a{
  color: #e09145;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  margin:15px 0 ;
  padding: 0 0 0 15px;
}
.blog-item::after{
  content: "";
  position: absolute;
  top:0 ;
  left:0 ;
  width: 100%;
  height: 0;
  background-color:rgb(0, 0,0 ,0.5);
  z-index: 2;
  transition: 2s;
}
.blog-item:hover::after{
  height: 100%;
}
/* /////////////////////////////////////////// */
.contact{
  background-image:url(../imges/c0ntact.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.input-failed input {
  width: 90%;
  border:none;
  border-bottom: 0.8px solid #e09145;
  outline: none;
  display: block;
  padding: 20px;
  margin: 10px 0;
  border-radius: 40px;
}
.text-area{
  width: 90%;
  outline: none;
  border: none;
  padding: 20px;
  border-bottom: 1px solid #e09145;
  border-radius: 40px;
}
.contact-lab{
  font-family:inherit;
  font-size: 15px;

}
::placeholder{
  color: #2a2c41;
  font-size: 15px;
font-weight: 500;
font-family: inherit;

}
.butt{
width:160px ;
border-radius:7px ;
padding: 10px 0;
border: none;
cursor: pointer;
font-size: 15px;
text-transform: capitalize;
font-family: inherit;
margin:10px auto;
display: block;
background-color: #e09145;
color: #2a2c41;
font-weight: 500;
}

/* //////////////////////////////////////////////// */
.footer{
  background-color: #1c1d21;
  text-align: center;
  padding: 60px 0;
  margin-top: 100px;
}
.list{
  list-style: none;
  margin:15px 0 ;
}
.list li{
  display: inline-block;
}
.list li a{
  display:block;
  width: 40px;
  height: 40px;
  background-color: #e09145;
  color: #fff;
  border-radius: 50%;
}
.list li a i{
  line-height: 40px;
}
.footer .copyright{
  color: #999;
  font-size: 15px;
  text-transform: uppercase;
}
